.profile{
    padding: 0 2em;
    position:relative;
    display: flex;
    flex-direction: column;
    gap: 3.75em;
}

.blockquote{
    margin:0;
    margin-top:185px;
}

.quote{
    font-size: 3rem;
    margin-bottom: 17px;
}

.cite{
    font-size: 2.25rem;
    font-style: normal;
}

.description{
    color: var(--text-secondary);
    font-size: 2.25rem;
    grid-column-start: 1;
}

.image{
    position:absolute;
    z-index: -1;
    right: 0;
    top:0;
}

.button{
    grid-column: span 2;
    margin: 0 auto;
    width: fit-content;
    min-height: 76px;
    background-color: transparent;
    color: var(--text-base);
    font-size: 2rem;
    padding-left: 98px;
    position: relative;
    display:flex;
    align-items:center;
    margin-bottom: 108px;
}

.button::before{
    content: "";
    position: absolute;
    height: 76px;
    width: 76px;
    left:0;
    top:0;
    background: url("/profile-play.svg");

}
