.header {
  padding: 2em;
}

@media (min-width: 600px) {
  .header {
    display: grid;
    grid-gap: 2em 1em;
    grid-template-columns: auto 1fr;
    align-items: start;
  }
}

@media (min-width: 1200px) {
  .header {
    grid-gap: 1em;
    grid-template-columns: auto 1fr auto;
    align-items: center;
  }
}

.logo {
  display: block;
  margin-bottom: 2em;
  max-width: max-content;
  text-decoration: none;
  color: var(--text-base);
}

@media (min-width: 600px) {
  .logo {
    margin-bottom: 0;
  }
}

.logoTop {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: var(--accent);
  text-align: right;
}

.logoBottom {
  text-transform: uppercase;
  text-align: right;
}

.menu {
  display: grid;
  grid-gap: 0.8rem;
  margin: 0;
  margin-bottom: 2em;
  padding: 0;
  text-align: right;
  list-style: none;
}

@media (min-width: 600px) {
  .menu {
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.menuLink {
  text-decoration: none;
  color: var(--text-base);
}

.cta {
  display: block;
  padding: 0.7em 0.5em;
  white-space: nowrap;
}

@media (min-width: 600px) {
  .cta {
    grid-row: 2;
    grid-column: 2;
    padding: 0.7em 1em;
    max-width: max-content;
    margin-left: auto;
  }
}

@media (min-width: 1200px) {
  .cta {
    grid-row: auto;
    grid-column: auto;
  }
}
