
.features{
    padding: 0 1em;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    row-gap: 3em;
    align-items:center;
}

.list {
    width: 100%;
}

.slide{
    width: fit-content;
    margin-right: 0;
    border: 2px solid #525252;
    border-radius: 5px;
}


.slideContent{
    display: flex;
    padding: 20px 20px 20px 20px;
    gap: 3em;
}


@media (max-width: 600px){
    .slideContent{
        padding: 3px;
        flex-direction: column-reverse;
        align-items:center;
        gap: 1em;
        text-align: center;
    }
}

@media (min-width: 1200px){
    .slideContent{
        padding: 10px;
        gap: 1.5em;
    }
}

.customPagination{
    grid-column: span 3;
    margin: 0 auto;
    display: flex;
    gap: 45px;
}

.customBullet{
    width: 20px;
    height: 20px;
    background-color: #525252;
}

.button{
    width: 45px;
    height: 45px;
    border:none;
    color: transparent;
    background:#525252;
}

.button:hover{
    opacity: 0.7;
}

.button:active{
    background-color: #000000;
}

.buttonNext{
    mask: url("/features-arrow.svg") no-repeat center;
}

.buttonPrev{
    mask: url("/features-arrow.svg") no-repeat center;
    transform: scale(-1, 1);
}

.title {
    font-size: 2.25rem;
    font-weight: 400;
    color: var(--text-base);
}
.text{
    font-size: 1.9rem ;
    color: var(--text-secondary)
}
